/* Modified Bulma Utilities */
.column {
    display: block;
    flex: none !important;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.25rem 2rem;
}

@media screen and (min-width: 860px), print {
    .column.is-0 {width: 0;}
    .column.is-1 {width: 8.33333%;}
    .column.is-2 {width: 16.66667%;}
    .column.is-3 {width: 25%;}
    .column.is-4 {width: 33.33333%;}
    .column.is-5 {width: 41.66667%;}
    .column.is-6 {width: 50%;}
    .column.is-7 {width: 58.33333%;}
    .column.is-8 {width: 66.66667%;}
    .column.is-9 {width: 75%;}
    .column.is-10 {width: 83.33333%;}
    .column.is-11 {width: 91.66667%;}
    .column.is-12 {width: 100%;}
}

.columns {/*margin-top: -0.75rem;*/ /* margin-left: -0.75rem; */ /* margin-right: -0.75rem; */}
.columns:last-child {margin-bottom: -0.75rem;}
.columns:not(:last-child) { margin-bottom: calc(1.5rem - 0.75rem);}
.columns.is-multiline {flex-wrap: wrap;}
.columns.is-centered {justify-content: center;}
.columns.is-vcentered {align-items: center;}

@media screen and (min-width: 860px), print {
    .columns {display: flex;}

}

.is-vnormal {align-self: flex-start;}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

@media screen and (min-width: 1024px) {
    .container {
        /*max-width: 960px;*/
    }
}

@media screen and (min-width: 1216px) {
    .container {
        /*max-width: 1152px;*/
    }
}

@media screen and (min-width: 1408px) {
    .container {
        max-width: 1400px;
    }
}
